<p>Name: Sharie Wang</p>
<p>Origin: Southern California</p>
<p>Year: Sophomore</p>
<p>Fun fact: I got my first 7 cavities in college.</p>
<p>Most excited about: finally learning some real web dev, *cough*HTMLCSS*cough*</p>